*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: #8360c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* MOBILE FIRST */

/* FOOTER DE LAS PÁGINAS */

#fsectdivUno{
    padding-left: 700px;
}

.redondeo {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

/* CONTENIDO PRINCIPAL DE INDEX.HTML */

        /* configurando slider */
#imagenesSlider img{
    height: 60vh;
}

        /* ajustando video e imágenes */
#segundoSection iframe, p{
    border-radius: 10%;
    width: 100%;
}
        /* modificando h2 */
#segundoSection h2{
    font-family: serif;
    font-size: 3em;
    text-align: center;
    margin-top: 5px;
}
        /* ajustando imagen y texto */
#tercerSection img {
    width: 90%;
    border-radius: 20%;
    margin: auto;
    height: 40vh;
}
/* MEDIA QUERY */
@media screen and (min-width: 992px){
    /* HEADER DE LAS PÁGINAS*/
            /* transiciones */
    header a:hover {
        transform: scale(1.1);
        transition: all .2s ease;
    }
    header img:hover {
        transform: scale(1.2);
        transition: all .3s ease;
    }
    
    /* FOOTER DE LAS PÁGINAS */
    
            /* transiciones */
    header a:hover {
        transform: scale(1.1);
        transition: all .2s ease;
    }
    footer img:hover {
        transform: scale(1.2);
        transition: all .3s ease;
    }
    footer section ul .pie:hover {
        transform: scale(1.2);
        transition: all .3s ease;
    }
            /* ajustando ancho */
    #footersectionDos div div{
        width: 70%;
    }

    /* CONTENIDO PRINCIPAL DE INDEX.HTML */

            /* configurando slider */
    #imagenesSlider img {
        height: 60vh;
    }
    
            /* ajustando video y texto */
    #segundoSection iframe,
    p {
        width: 45%;
    }
            /* modificando h2 */
    #segundoSection h2 {
        font-family: serif;
        font-size: 5em;
        
    }
            /* ajustando imagen y texto */
    #tercerSection img{
        width: 45%;
        border-radius: 20%;
    }
    #tercerSection
    div {
        width: 45%;
    }

}