*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background: #8360c3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* MOBILE FIRST */

        /* FOOTER DE LAS PÁGINAS */
#fsectdivUno{
    padding-left: 700px;
}

.redondeo {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}
@media screen and (min-width: 992px){
    /* HEADER DE LAS PÁGINAS*/
            /* transiciones */
    a:hover {
        transform: scale(1.1);
        transition: all .2s ease;
    }
    
    h1:hover {
        transform: scale(1.2);
        transition: all .3s ease;
    }
    
    img:hover {
        transform: scale(1.2);
        transition: all .3s ease;
    }
    
    /* FOOTER DE LAS PÁGINAS */
    
            /* transiciones */
    footer .pie:hover {
        transform: scale(1.2);
        transition: all .3s ease;
    }




}